* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:"Roboto", sans-serif;
}
.movies-header {
  background-color:#1F2937;
  padding-left: 15%; 
  padding-right: 15%;
  padding-top: 2%;
}
.movies-header a{
  color: #F9FAF8;
  text-decoration: none;  
}
.thor-container {
  margin: 10% 15% 10% 15%;
}
.thor-items {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;;
}
.thor-img img{
  width: 200px;
  height: 300px;
  box-shadow:4px 8px 8px grey;
}
.thor-img img:hover {
  transform: translateY(-8px);
  box-shadow:6px 12px 12px grey;
}
.title{
  color:#1F2937;
}
.date {
  color: rgb(122, 121, 121)
}
.thor-description {
  color: #1F2937;
  padding: 60px 60px 60px 60px;
  background-color:#E5E7EB;
  height: 300px;
}
.thor-description a {
  margin-top: 10px;
}
.learn-btn {
  display: inline-block;
  color:#1F2937;
  text-decoration: none;
  border: 1px solid #1F2937;
  padding: 3px 10px 3px 10px;
  margin-top: 5px;
  border-radius: 3px;
}
.learn-btn:hover {
  background-color: #1F2937;
  color:#F9FAF8;
}